body{
 font-family: "Segoe UI";
 background:#eef2f7;
 margin:0;
}

.main{
 padding:20px 30px;
 margin:0;
}



h2{
 margin-bottom:20px;
}

.card{
 background:white;
 border-radius:20px;
 padding:25px;
 margin-bottom:25px;
 box-shadow:0 10px 30px rgba(0,0,0,0.05);
}

table{
 width:100%;
 border-collapse:collapse;
}

th{
 text-align:left;
 color:#7a8aa0;
 padding:15px;
 font-size:14px;
}

td{
 padding:15px;
 border-top:1px solid #eef2f7;
}

input,select{
 padding:8px;
 border-radius:8px;
 border:1px solid #dde3ee;
}

.btnPrimary{
 background:#3b82f6;
 color:white;
 border:none;
 padding:14px 25px;
 border-radius:12px;
 font-weight:600;
 margin-top:20px;
 cursor:pointer;
}

.btnPrimary:hover{
 background:#2563eb;
}
/* ===== LAYOUT SIDEBAR ===== */

.layout{
 display:flex;
 align-items:flex-start;
}


.sidebar{
 width:240px;
 background:white;
 min-height:100vh;
 padding:30px 20px;
 box-shadow:2px 0 20px rgba(0,0,0,0.05);
}

.logo{
 width:140px;
}

.menu-item{
 display:block;
 padding:12px 15px;
 border-radius:10px;
 color:#2c3e50;
 text-decoration:none;
 margin-bottom:10px;
 font-weight:500;
 transition:0.2s;
}

.menu-item:hover{
 background:#eef2f7;
}

.menu-item.active{
 background:#dbe7ff;
 color:#2563eb;
 font-weight:600;
}
.card{
 width:100%;
 max-width:1000px;
 margin-top:20px;
 margin-left:0;
}


.layout{
 display:flex;
 align-items:flex-start;
}

.sidebar{
 width:240px;
 min-width:240px;
}
.createWMSBox h3{
 margin-bottom:20px;
}

.dropZone{
 border:2px dashed #2563eb;
 border-radius:16px;
 padding:50px;
 text-align:center;
 background:#fafafa;
}

.dropZone p{
 margin-bottom:20px;
 font-size:16px;
 color:#444;
}

.btnCreateWMS{
 background:#2563eb;
 color:white;
 border:none;
 padding:14px 32px;
 border-radius:12px;
 font-size:16px;
 font-weight:600;
 cursor:pointer;
 transition:0.3s;
}

.btnCreateWMS:hover{
 background:#2563eb;
}

